body {
    background-color: khaki;
}

.leftHeadContainer {
    display: flex;
    flex-direction: row;
}

.leftHeadContainerItem {
    margin-right: 10px;
}

.rightHeadContainer {
    display: flex;
    flex-direction: row-reverse;
}

.rightHeadContainerItem {
    margin-right: 10px;
}